:root {
    --color-principal: #212529;
    --color-secundario: #212529;
    --color-texto: #212529;
    --color-enlace-hover: #495057;
    --color-fondo: #ffffff;
    --color-titulo-navbar: #212529;
    --color-fondo-beneficios: #f8f9fa;
    --color-fondo-productos: #e9ecef;
    --color-fondo-testimonios: #f8f9fa;
    --color-fondo-contacto: #e9ecef;
    --color-fondo-footer: #f8f9fa;
    --color-encabezado-seccion: #0b9c7b;
    --color-texto-seccion: #212529;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.custom-navbar {
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom: none;
}

.custom-navbar .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.0);
}

.custom-navbar .nav-link, .custom-navbar .navbar-brand {
    color: #0b9c7b;
}

.custom-navbar .nav-link:hover {
    color: #343a40;
}

/* Carrusel */
.carousel-caption h5 {
    color: var(--color-encabezado-seccion);
}

.carousel-caption p {
    color: var(--color-texto-seccion);
}

@media (max-width: 768px) {
    .carousel-item img {
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .carousel-item img {
        height: auto; /
    }
}

@media (min-width: 1025px) {
    .carousel-item img {
        height: 970px;
    }
}


.carousel-caption .custom-text {
    color: #ffffff;
}

.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-carrusel-texto);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

/* Secciones */
#section2, #section4 {
    background-color: var(--color-fondo-beneficios);
}

#section3, #section5 {
    background-color: var(--color-fondo-productos);
}

.custom-heading {
    color: var(--color-encabezado-seccion);
}

.custom-text, .card-title, .card-text {
    color: var(--color-texto-seccion);
}

/* Testimonios */
#section4 {
    background-color: var(--color-fondo-testimonios);
    color: var(--color-texto-seccion);
}

.blockquote {
    background: rgba(255, 255, 255, 0.1);
    border-left: 10px solid var(--color-encabezado-seccion);
    padding: 1.5rem;
    margin: 20px 0;
}

.blockquote-footer {
    color: var(--color-texto-seccion);
    opacity: 0.8;
}

/* Pie de página */
footer {
    background-color: var(--color-fondo-footer);
    color: var(--color-texto);
}
